.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}

body{
    background-color: rgb(209, 209, 209)
}

table tr:even{
    background-color: rgba(250,250, 250, 0.8/*opacity*/)
}


#profileimage{
   border: 2px dotted black ;
}
.layout{
    color: green;
    font-family: 'Times New Roman' ;
}

.praveen-centerheader{
    text-align: center ;
    background-color: white ;
}

#profileimage{
    border-radius: 50%;
}

#projects{
  background-color: red;
}
